@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0,0,0);
    font-family: Inter;
}
/* sharing codes all container */
.flex{
    display: flex;
}
.title{
    color: rgba(255, 255, 255);
    font-family: Inter;
    font-size: 2.1rem;
    font-weight: 700;
    text-align: center;
}
.description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Beiruti;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1.5%;
}
/* sharing codes all container */

/* header container start */
.header-body{
    background: linear-gradient(180.00deg, 
    rgb(9, 9, 9), rgb(36, 36, 36), rgb(2, 2, 2) 100%);
}
.header-container{
    width: 100%;
    height: 510px;
    background-image: url(../assets/Images\ 2.png);
    background-repeat: no-repeat;
    background-position: 840px 119px;
    background-size: calc(21.4%);
    padding: 2.7rem 0rem;
    margin-bottom: 3%;
}
.bars{
    color: rgb(255,255,255);
    display: none;
}
.navbar{
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.brand{
    color: rgb(230,83,60);
    font-size: 2.3rem;
    margin-left: 1%;
}
.nav-item{
    border: 1px solid rgb(25,25,25);
    padding: 0.7rem 0.2rem;
    border-radius: 25px;
    padding-right: 1rem;
    margin-right: 2%;
    gap: 50px;
}
.nav-items{
    list-style: none;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.bg{
    background-color: rgb(230,83,60);
    padding: 0.5rem 1rem;
    border-radius: 25px;
}
.header{
    width: 88%;
    margin: 0 auto;
}
.header-content{
    width: 40%;
    margin-top: 6.7%;
}
.header-title{
    color: rgb(255,255,255);
    font-size: 3.7rem;
    font-weight: 900;
}
.header-title span{
    font-family: Dancing Script;
    font-size: 4rem;
    font-weight: 700;
}
.header-para{
    color: rgb(255,255,255,0.5);
    margin-top: 3%;
    font-family: Manrope;
}
.header-btn{
    margin-top: 4.6%;
}
.header-btn .join{
    background-color: rgb(230,83,60);
    color: rgba(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8rem 1.7rem;
    border: none;
    border: 1px solid rgb(230,83,60);
    border-radius: 30px;
    cursor: pointer;
}
.app-btn{
    background-color: rgb(25,25,25,0.4);
    color: rgba(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8rem 1.7rem;
    margin-left: 0.5rem;
    border: 1px solid rgb(255,255,255);
    border-radius: 30px;
    cursor: pointer;
}
.box{
    background: rgba(48,48,48,0.56);
    height: 55px;
    color: rgb(255,255,255);
    padding: 0.7rem 1rem;
    border-radius: 12px;
    margin-left: 170px;
}
.box-1{
    width: 118px;
    margin-top: 380px;
    align-items: center;
    gap: 13px;
    cursor: pointer;
}
.box-1 i{
    color: rgb(230,83,60);
    font-size: 2rem;
    margin-top: 12px;
}
.box1-title{
    font-size: 1.5rem;
}
.box-2{
    margin-top: 160px;
    cursor: pointer;
}
.box-para{
    color: rgb(255,255,255,0.65);
    font-size: 0.8rem;
}
/* header container end */

/* habit container start */
.habit-container{
    background-color: rgb(0,0,0);
    width: 100%;
    height: 380px;
    padding: 6rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.habit-card{
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.circle-box{
    width: 19%;
    height: 277px;
    padding: 0.3rem 0;
    justify-content: center;
    text-align: center;
    margin-top: 6%;
}
.circle-box img{
    width: 80%;
    border-radius: 50%;
    border: 4px solid rgb(25,25,25);
}
.routine-title{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 4%;
}
.routine-para{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 2%;
}
/* habit container end */

/* miles container start */
.miles-container{
    width: 100%;
    margin: auto 0;
    margin-bottom: 5%;
}
.miles-area{
    background-color: rgb(34,34,34);
    width: 79%;
    height: 263px;
    margin: 2rem auto;
    padding: 2rem 2rem;
    justify-content: space-between;
    border-radius: 25px;
}
.miles-content{
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.miles-title{
    width: 100%;
    text-align: start;
}
.miles-para{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 4%;
}
.miles-btn{
    background-color: rgb(230,83,60);
    color: rgba(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8rem 1.7rem;
    border: none;
    border-radius: 30px;
    margin-top: 4.8%;
    margin-right: 77%;
    cursor: pointer;
}
.miles-image{
    width: 37%;
    height: 290px;
    margin-top: -1.1%;
}
.miles-image img{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 66% 30%;
    border-radius: 18px;
}
/* miles container end */

/* foods container start */
.foods-container{
    width: 100%;
    height: 1275px;
    padding: 1rem 0;
    flex-direction: column;
    margin-bottom: 5%;
}
.food-descrip{
    width: 50%;
    margin: 0.4rem auto;
}
.foods-box{
    width: 80%;
    margin: 1.5rem auto;
    flex-direction: column;
    gap: 20px;
}
.food-card{
    background-color: rgb(34,34,34,0.5);
    height: 194px;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    gap: 160px;
}
.food-image{
    width: 32%;
}
.food-image img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.food-content{
    color: rgb(255,255,255);
    width: 55%;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.food-title{
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
}
.food-para{
    color: rgb(255,255,255,0.5);
    font-family: Ubuntu;
    font-size: 1rem;
    font-weight: 400;
}
/* foods container end */

/* excercise container start */
.excercise-container{
    height: 550px;
    flex-direction: column;
    margin-bottom: 4%;
}
.excercise-para{
    width: 50%;
    margin: 0.8rem auto;
}
.excercise-cardbox{
    width: 76.9%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}
.excercise-details{
    color: rgb(255,255,255);
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 42%;
    margin-left: 4%;
}
.excercise-card img{
    width: 100%;
    height: 100%;
}
.exercise1{
    width: 290px;
    height: 215px;
    background-image: url(../assets/excercise/exercise1.jpg);
    background-color: rgba(10, 237, 184, 0.4);
    background-position: cover;
    background-size: calc(112%);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.exercise2{
    background-image: url(../assets/excercise/exercise2.png);
    background-color: rgba(241, 25, 25, 0.4);
    background-position: cover;
    background-size: calc(112%);
    background-repeat: no-repeat;
    width: 440px;
    height: 215px;
    margin-left: -25%;
    background-blend-mode: overlay;
}
.exercise3{
    width: 301px;
    height: 215px;
    background-image: url(../assets/excercise/exercise3.png);
    background-color: rgba(12, 12, 12, 0.5);
    background-position: cover;
    background-size: calc(132.4%);
    background-repeat: no-repeat;
    margin-left: -33.3%;
    background-blend-mode: overlay;
}
.exercise4{
    width: 400px;
    height: 215px;
    background-image: url(../assets/excercise/exercise4.png);
    background-color: rgba(12, 12, 12, 0.5);
    background-position: cover;
    background-size: calc(109%);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.exercise5{
    width: 300px;
    height: 215px;
    background-image: url(../assets/excercise/exercise5.jpg);
    background-color: rgba(28, 232, 18, 0.4);
    background-position: cover;
    background-size: calc(125%);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.exercise6{
    width: 331px;
    height: 215px;
    background-image: url(../assets/excercise/exercise6.jpg);
    background-color: rgba(44, 106, 239, 0.4);
    background-position: cover;
    background-size: calc(110%);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin-left: -42.3%;
    opacity: 0.8;
}
/* excercise container end */

/* BMI container start */
.bmi-container{
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 5%;
    flex-direction: column;
}
.bmi-box{
    background-color: rgb(34,34,34);
    width: 100%;
    height: 370px;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}
.bmi-calculator{
    width: 40%;
    height: 280px;
    margin: 0 auto;
    flex-direction: column;
}
table{
    margin-top: 6%;
}
table,th,td{
    border: 1px solid rgb(255,255,255,0.1);
    color: rgb(255,255,255,0.4);
    width: 285px;
    height: 40px;
    font-size: 0.9rem;
    text-align: center;
    border-collapse: collapse;
}
th{
    color: rgb(255,255,255,0.7);
}
.chart-title{
    color: rgb(255,255,255);
}
.bmi-inputform{
    width: 40%;
    height: 286px;
    margin: 0 auto;
    flex-direction: column;
}
.form-para{
    color: rgb(255,255,255,0.5);
    margin-top: 1.7%;
    font-size: 1rem;
    font-weight: 300;
}
form{
    margin-top: 3.6%;
}
form input{
    background-color: rgb(255,255,255,0.1);
    width: 40%;
    padding: 0.6rem 1rem;
    border-radius: 7px;
    border: none;
    border-color: rgb(255,255,255,0.1);
}
form select{
    background-color: rgb(255,255,255,0.1);
    color: rgb(255,255,255,0.3);
    width: 46%;
    padding: 0.6rem 1rem;
    border-radius: 7px;
    border: none;
    margin-top: 1.7%;
    cursor: pointer;
    border-right: 20px solid transparent;
}
option{
    background: rgb(34,34,34);
}
.bmi-btn{
    width: 39%;
    padding: 0.8rem 1.7rem;
    margin-left: 27%;
    cursor: pointer;
}
.sel2{
    width: 92.6%;
}
/* BMI container end */

/* team container start */
.team-container{
    width: 100%;
    margin-bottom: 7%;
    flex-direction: column;
}
.team-cardbox{
    background-color: rgb(34,34,34,0.5);
    width: 80%;
    margin: 0 auto;
    margin-top: 2.3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.2rem 1.2rem;
    gap: 4px;
    border-radius: 25px;
}
.team-card{
    width: 95%;
    height: 280px;
    margin: 0.4rem auto;
}
.team-card img{
    width: 100%;
    height: 100%;
    border-radius: 22px;
    position: relative;
}
.team-details{
    color: white;
    margin-top: -4%;
    margin-left: 1.6%;
    position: absolute;
}
.profession{
    color: rgb(255,255,255,0.7);
}
/* team container end */

/* footer container start */
.footer-container{
    width: 100%;
    background-color: rgb(34,34,34);
    padding: 2rem 0;
    flex-direction: column;
}
.footer-content{
    width: 88%;
    height: 190px;
    margin-left: 10%;
}
.footer-box{
    width: 31.1%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.footer-box1{
    align-items: flex-start;
    text-align: start;
}
.footer-brand{
    color: rgb(230,83,60);
    font-size: 3.2rem;
}
.footer-para{
    width: 380px;
    font-weight: 400;
    text-align: start;
}
.footer-social{
    gap: 1.5rem;
    margin-top: 1.3%;
    justify-content: center;
    cursor: pointer;
}
.footer-social i{
    color: rgb(230,83,60);
    font-size: 1.5rem;
}
.footer-title{
    color: rgb(255,255,255);
    font-size: 1.5rem;
}
.mini-title{
    color: rgb(255,255,255,0.5);
    font-size: 1rem;
    font-weight: 500;
}
hr{
    background-color: rgb(255,255,255,0.65);
    width: 78%;
    margin: 0 auto;
    margin-top: 2%;
}
.footer-reserved{
    color: rgb(255,255,255,0.5);
    font-size: 1rem;
    margin-top: 2.2%;
    text-align: center;
}
/* footer container end */