@media screen and (max-width: 576px){
    body{
        width: 100%;
    }

    /* sharing codes all section */
    .title{
        font-size: 1.7rem;
    }
    .description{
        width: 80%;
        font-size: 1.1rem;
    }
    /* sharing codes all section */

    /* header responsive start */
    .nav-item{
        display: none;
    }
    .header-container{
        width: 100%;
        height: 840px;
        background-position: 122px 500px;
        background-size:calc(58%);
        margin-bottom: 4%;
    }
    .brand{
        margin-left: 1%;
    }
    .bars{
        color: rgb(255,255,255);
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .header{
        flex-direction: column;
    }
    .header-content{
        width: 100%;
    }
    .header-title{
        font-size: 2.3rem;
    }
    .header-title span{
        font-size: 3.6rem;
    }
    .header-btn{
        width: 345px;
        margin: 1.2rem 0;
    }
    .header-box{
        width: 100%;
    }
    .box-1{
        margin-left: 2.2%;
        margin-top: 272px;
    }
    .box-2{
        padding: 0.7rem 0.9rem;
        margin-left: 25.5%;
        margin-top: 134px;
    }
    .box-para{
        font-size: 0.6rem;
    }
    /* header responsive end */

    /* habit responsive start */
    .habit-container{
        width: 100%;
        height: 1325px;
        margin-bottom: 12%;
    }
    .habit-para{
        width: 82%;
    }
    .habit-card{
        flex-direction: column;
        gap: 7px;
    }
    .circle-box{
        width: 95%;
        height: 318px;
    }
    .circle-box img{
        width: 70%;
        border-radius: 50%;
    }
    .routine-para{
        width: 65%;
        font-size: 0.9rem;
        margin: 0 auto;
        margin-top: 1%;
    }
    /* habit responsive end */

    /* miles responsive start */
    .miles-container{
        width: 100%;
        margin-bottom: 12%;
    }
    .miles-area{
        width: 73%;
        height: 515px;
        flex-direction: column;
        gap: 25px;
    }
    .miles-content{
        width: 100%;
    }
    .miles-btn{
        width: 93%;
        margin: 0 auto;
        padding: 0.7rem 0rem;
        margin-top: 7%;
    }
    .miles-image{
        width: 100%;
        height: 286px;
        margin: 0 auto;
        margin-top: 1%;
    }
    /* miles responsive end */

    /* foods responsive start */
    .foods-container{
        width: 100%;
        height: 2260px; 
        margin-bottom: 5%;
    }
    .food-descrip{
       width: 90%;
       text-align:start ;
       margin: 0 auto;
    }
    .foods-box{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .food-card{
        width: 330px;
        height: 385px;
        flex-direction: column;
        gap: 10px;
    }
    .food-image{
        width: 100%;
    }
    .food-content{
        width: 100%;
    }
    .food-title{
        font-size: 1.4rem;
        font-weight: 800;
    }
    .food-para{
        font-size: 0.9rem;
        font-weight: 400;
    }
    .food-reverse{
        flex-direction: column-reverse;
    }
    /* foods responsive end */

    /* excercise responsive start */
    .excercise-container{
        height: 1410px;
        margin-bottom: 12%;
    }
    .excercise-title{
        font-size: 1.6rem;
    }
    .excercise-cardbox{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }
    .excercise-card{
        width: 100%;
    }
    .exercise2{
        margin-left: 0;
    }
    .exercise3{
        margin-left: 0;
    }
    .exercise4{
        height: 193px;
    }
    .exercise6{
        margin-left: 0;
    }
    /* excercise responsive end */

    /* BMI responsive start */
    .bmi-container{
        width: 100%;
        height: 646px;
        margin-bottom: 18%;
    }
    .bmi-para{
        margin: 0 auto;
        margin-top: 1%;
    }
    .bmi-box{
        height: 638px;
        padding: 0.7rem 0;
        flex-direction: column;
    }
    .bmi-calculator{
        width: 90%;
        height: 280px;
        margin: 0 auto;
        margin-top: 1%;
        text-align: center;
    }
    table{
        margin: 0.9rem auto;
    }
    .bmi-inputform{
        width: 100%;
        height: 298px;
        margin-top: 1%;
    }
    .chart-title{
        text-align: center;
    }
    .form-para{
        width: 76%;
        font-size: 0.9rem;
        margin: 0 auto;
        margin-top: 1%;
    }
    form{
        width: 73%;
        margin: 0 auto;
        margin-top: 4%;
    }
    .heiwei{
        width: 100%;
    }
    form input{
        width: 36.8%;
    }
    .age-gender{
        width: 100%;
    }
    form select{
        width: 48.2%;
    }
    .sel2{
        width: 98%;
    }
    .bmi-btn{
        width: 32%;
        margin-left: 33%;
        margin-top: 1.5rem;
    }
    /* BMI responsive end */

    /* team responsive start */
    .team-container{
        width: 100%;
        margin-bottom: 12%;
        padding: 1rem 0;
    }
    .team-cardbox{
        width: 76%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .team-card{
        width: 100%;
        height: 240px;
        margin: 0 auto;
    }
    .team-details{
        margin-top: -13%;
    }
    /* team responsive end */

    /* footer responsive start */
    .footer-container{
        width: 100%;
        height: 510px;
        flex-direction: column;
    }
    .footer-content{
        width: 78%;
        height: 460px;
        margin: 0 auto;
        flex-direction: column;
        gap: 4%;
    }
    .footer-brand{
        font-size: 2.7rem;
    }
    .footer-para{
        font-size: 1.2rem;
        font-weight: 400;
        width: 100%;
    }
    .footer-box{
        text-align: start;
        align-items: start;
    }
    .footer-box1{
        width: 100%;
        text-align: left;
    }
    .footer-box2{
        width: 100%;
        height: 240px;
        margin-top: 5%;
        text-align: start;
    }
    .footer-box3{
        width: 100%;
        height: 240px;
        margin-top: 5%;
    }
    .mini-title{
        font-weight: 400;
    }
    hr{
        width: 78%;
        margin-top: 4%;
    }
    /* footer responsive end */
}